doctype html
html
    body
        script.
            window.opener.postMessage({
                type: "auth-response",
                value: !{JSON.stringify(response)}
            },
            "#{targetOrigin}");
